@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, .full-height {
	height: 100%;
	margin: auto;
	padding-top: 15px;
	font-family: Quicksand, Verdana, Arial;
	color: black;
}

h1{
	font-family: Pacifico, Arial;
  text-align: center;
  font-size: 56px;
}

h3{
  text-align: center;
}
a{
	outline: 0;
	color: black;
	font-weight: bold;
}

a:hover{
	text-decoration: none;
}

a h2{
	color: black;
}

.nav-link{
	color: black;
}

/* PORTFOLIO */
.container{
	max-width: 1000px;
	padding: 0 20px;
	margin: 20px auto;
}

.portfolio{
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 20px;
	grid-auto-flow: row dense;
	margin-top: 20px;
}
.project{
	cursor: pointer;
	outline: 0;
	margin-bottom: 20px;
}

.project-img{
	width: 100%;
	height: auto;
}

.project h2{
	margin: 0 0 5px;
	padding: 0;
}

.project-body{
	overflow: hidden;
	margin-bottom: 20px;
}

.project .project-body{
	display: none;
}

@media screen and (min-width: 640px){
	.portfolio{
		grid-template-columns: repeat(4, 1fr);
	}

	.project-body{
		grid-column: span 4;
	}
}

/* COLORFULL BACKGROUND */
canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  z-index: -1;
}
